{% set description = {
    timer : {
        img:{
            srcSm:'../images/leaves.png',
            srcLg: '../images/leaves.png'
        }
    },
    content : {

        listSections: [
            {
                title:'Дата и время',
                label: '07.08.2021',
                description: '15:00'
            },
            {
                title:'Место проведения',
                label: 'Банкетный комплекс «Троицкий холл»',
                description: '(каминный зал)',
                mod: 'js-scroll-animation',
                link: {
                href: '#map-section',
                target: '_blank',
                text: 'Минск, Улица  Старовиленская, 10'
            }
            },
            {
                title:'Особенности мероприятия',
                description: 'Не дарите, пожалуйста, букеты. Вместо них принесите бутылочка вашего любимого алкогольного
                 напитка, с пожеланием, в связи с каким событием его открыть ☺️',
            }
        ]
    }
} %}
<section class="description" id="description">
    <div class="description__timer">
        <div class="description__timer-container">
            <div class="description__timer-block">
                <div class="description__timer-wrap">
                    <ul class="description__timer-list" data-countdow>
                        <li class="description__timer-item">
                            <span class="description__timer-value" data-countdow-days></span>
                            <span class="description__timer-text el-gradient-text">дней</span>
                        </li>
                        <li class="description__timer-item" data-countdown-number>
                            <span class="description__timer-value" data-countdow-hours></span>
                            <span class="description__timer-text el-gradient-text">часов</span>
                        </li>
                        <li class="description__timer-item" data-countdow>
                            <span class="description__timer-value" data-countdow-minutes></span>
                            <span class="description__timer-text el-gradient-text">минут</span>
                        </li>
                    </ul>
                </div>
                <picture class="description__timer-img">
                    <source media="(max-width: 47.95rem)" srcset="{{ description.timer.img.srcSm }}">
                    <source media="(min-width: 64rem)" srcset="{{ description.timer.img.srcLg }}">
                    <img class="description__timer-picture" src="{{ description.timer.img.srcLg }}" alt="">
                </picture>
            </div>

        </div>
    </div>
    <div class="description__content">
        <div class="description__container">
            <div class="description__depiction">
                {% for item in description.content.listSections %}
                    <div class="description__section">
                        {% if item.title %}
                            <h3 class="description__section-title el-title el-gradient-text">{{ item.title }}</h3>
                        {% endif %}
                        {% if item.label %}
                            <p class="description__section-label">{{ item.label }}</p>
                        {% endif %}
                        {% if item.description %}
                            <p class="description__section-desc">{{ item.description }}</p>
                        {% endif %}
                        {% if item.link %}
                            <a class="description__section-link el-link {{ item.mod }}" href="{{ item.link.href }}"
                               target="{{ item.link.target }}">{{ item.link.text }}</a>
                        {% endif %}
                        {% if item.itemLists %}
                            <ul class="description__section-list">
                                {% for itemList in item.itemLists %}
                                    <li class="description__section-item">{{ itemList.item }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>