{% set description = {
    timer : {
        title: 'Осталось всего',
        img:{
            srcSm:'../images/leaves-sm.png',
            srcLg: '../images/leaves.png'
        }
    },
    content : {

        listSections: [
            {
                title:'Дата и время',
                label: 'Label',
                description: 'description'
            },
            {
                title:'Место проведения',
                label: 'Label',
                description: 'description',
                mod: 'js-scroll-animation',
                link: {
                href: '#map-section',
                target: '_blank',
                text: 'Link'
            }
            },
            {
                title:'Особенности мероприятия',
                label: 'Label',
                description: 'description',
                itemLists: [
                {
                    item: 'item'
                },
                {
                    item: 'item'
                },
                {
                    item: 'item'
                }
            ]
            }
        ]
    }
} %}
<section class="description" id="description">
    <div class="description__timer">
        <div class="description__timer-container">
            <h2 class="description__timer-title el-title">{{ description.timer.title }}</h2>
            <div class="description__timer-wrap">
                <ul class="description__timer-list" data-countdow>
                    <li class="description__timer-item">
                        <span class="description__timer-value" data-countdow-days></span>
                        <span class="description__timer-text">дней</span>
                    </li>
                    <li class="description__timer-item" data-countdown-number>
                        <span class="description__timer-value" data-countdow-hours></span>
                        <span class="description__timer-text">часов</span>
                    </li>
                    <li class="description__timer-item" data-countdow>
                        <span class="description__timer-value" data-countdow-minutes></span>
                        <span class="description__timer-text">минут</span>
                    </li>
                </ul>
                <picture>
                    <source media="(max-width: 47.95rem)" srcset="{{ description.timer.img.srcSm }}">
                    <source media="(min-width: 64rem)" srcset="{{ description.timer.img.srcLg }}">
                    <img src="{{ description.timer.img.srcLg }}" alt="" class="description__timer-img">
                </picture>
            </div>
        </div>
    </div>
    <div class="description__content">
        <div class="description__container">
            <h2 class="description__title el-title">Программа мероприятия</h2>
            <div class="description__depiction">
                {% for item in description.content.listSections %}
                    <div class="description__section">
                        {% if item.title %}
                            <h3 class="description__section-title el-title">{{ item.title }}</h3>
                        {% endif %}
                        {% if item.label %}
                            <p class="description__section-label">{{ item.label }}</p>
                        {% endif %}
                        {% if item.description %}
                            <p class="description__section-desc">{{ item.description }}</p>
                        {% endif %}
                        {% if item.link %}
                            <a class="description__section-link {{ item.mod }}" href="{{ item.link.href }}"
                               target="{{ item.link.target }}">{{ item.link.text }}</a>
                        {% endif %}
                        {% if item.itemLists %}
                            <ul class="description__section-list">
                                {% for itemList in item.itemLists %}
                                    <li class="description__section-item">{{ itemList.item }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>