{% set social = {
    name: '@Instagram',
    link: '#',
    phone: [
        {
            name: 'Александр',
            phone: '+375 33 666 0035',
        },
        {
            name: 'Виолетта',
            phone: '+375 29 374 5935',
        }

    ]
} %}

<section class="s-social">
    <div class="s-social__container">
        <h2 class="s-social__title el-title">
            Хэштэг инстаграм
        </h2>
        <a class="s-social__link el-link el-gradient-text" href="{{ social.link }}" target="_blank">{{ social.name }}</a>
        <ul class="s-social__phone">
            {% for item in social.phone %}
                <li class="s-social__phone-item">
                    <h3 class="s-social__phone-title">{{ item.name }}</h3>
                    <a href="tel:{{ item.phone }}" class="s-social__phone-number el-link">{{ item.phone }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>